@font-face {
  font-family: 'IranSans';
  src: url('../../font/IRANSansWeb.eot'); /* IE9 Compat Modes */
  src: url('../../font/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../font/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../font/IRANSansWeb.ttf')  format('truetype') /* Safari, Android, iOS */
}

#maindiv{
  background-color: rgb(228, 228, 228);
  height: 100%;
}

.selectButton{
  background-color: rgb(86, 86, 206);
  color: white;
}
.navbar{
  background-color: rgb(83, 135, 151);
  color: white;
}
.navbarbutton{
  background-color: rgb(56, 110, 161);
  
}
.navlink{
  color: antiquewhite;

}

#navbrand{
  color: rgb(2, 41, 31);
  font-family: 'IranSans';
  font-size: 30px;
}
#homepic{
  opacity: 1;
  height: 75vh;
  margin-bottom: 3px;
  width: 100%;
  margin: 10px;
  margin-top:3px;
  object-fit: cover;
  clear: both;
 }
 .searchbar{
   float: left;
   width: auto;
   height: 100%;
 }
 
 #header{
  font-family:'IranSans';
   height: 55px;
   margin-bottom: 5px;
 }