@font-face {
  font-family: 'IranSans';
  src: url('../../font/IRANSansWeb.eot'); /* IE9 Compat Modes */
  src: url('../../font/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../font/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../font/IRANSansWeb.ttf')  format('truetype') /* Safari, Android, iOS */
}

#login_signupForm{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border:solid 2px rgb(224, 224, 224);
    font-family:'IranSans';

}

#Form{
  position: relative;
    text-align: right;
    clear: both;
    top: 50px;
    width: 50%;
    left: 25%;
}

#form_submit{
  position: relative;
    width: 30%;
    margin-top: 10%;
    right: 3%;
    background-color: rgb(192, 238, 238);
    border-color:rgb(180, 221, 221);
    color: black;
}
#tab_content_info{
    float: right;
    border-radius: 15%;
    width: 97%;
    
  }

body{

    background-color: rgb(241, 241, 241);
    text-align: right;
    font-size: 14px;
    font-family:'IranSans';
  }
footer{
  height: 10%;
  background-color: white;
}
  #auth_tab_content{
    clear: both;
    margin-right: 3%;
  }
#form_input{
  text-align: right;
  height: 40px;
  padding-top:10px ;
  padding-right: 15px;
}

#form_label{
  font-size: 20px ;
  padding-top: 6%;
}

.switch{
  position: relative;
  right: 90%;
}

.validity{
  text-align: right;
  height: 40px;
  padding-top:10px ;
  padding-right: 25px;
}

.text_area_form{
  border:solid 2px rgb(224, 224, 224);
  border-radius:5px ;
  text-align: right;
  padding-top:10px ;
  padding-right: 15px;
  width: 100%;
  height: 150px;
}