#tab_content_item_nam{
  clear: both;
  float: right;
  padding: 7px;
  padding-right: 10px;
  margin-top: 5px;
  height: 40px;
  width: 16%;
  border-radius: 5px;
  border: solid 0.25mm;
  border-color: rgb(171, 199, 199);
  transition: transform 500ms;
  margin-right: 10px;
}
#tab_content_item_val{
  float: right;
  padding: 7px;
  margin-top: 5px;
  height: fit-content;
  width: 73%;
  margin-right:5px ;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 0.25mm;
  border-color: rgb(171, 199, 199);
  transition: transform 500ms;
  padding-right:3% ;
}
#items{
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 4px;
}

#h1{
    width: 100%;
    text-align: center;
}

#profileImage{
    position: relative;
    right: 37%;
    margin: 13px;
    width: 300px;
    max-width: 26%;
    max-height: 300px;
    border-radius: 100%;
    border: solid gray 1px;
}

#profilePage{
    padding: 10px;
    width: 90%;
    background:solid whitesmoke;
    height: 100vh;
}