@font-face {
    font-family: 'IranSans';
    src: url('../../font/IRANSansWeb.eot'); /* IE9 Compat Modes */
    src: url('../../font/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../font/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../font/IRANSansWeb.ttf')  format('truetype') /* Safari, Android, iOS */
  }
  body{
    background-color: rgb(243, 243, 243);
    text-align: right;
    font-size: 14px;
    font-family: 'IranSans';
    font-style:italic;
  }
  
  #tabs{
    float: right;
    margin-right: 3%;
  }
  .custom-tag {
    margin-top: 1%;
    border-radius: 5px;;
    width: 94%;
    height: 500px;
    background: gray;
    left: 3%;
    margin-bottom: 30px;
    color: rgb(27, 236, 44);
  }

  
  #tab_content{
    clear: both;
    margin-right: 3%;
    width:60%;
    position:relative;
    left:20%;
    right:20%l;
    min-height:600px;
  }
  
  #tab_content_info{
    width:100%;
  }
  
  #tab_content_info_item_nam{
    clear: both;
    float: right;
    padding: 7px;
    padding-right: 10px;
    margin-top: 5px;
    height: 40px;
    width: 25%;
    border-radius: 5px;
    border: solid 0.25mm;
    border-color: rgb(171, 199, 199);
    transition: transform 500ms;
  }
  #tab_content_info_item_val{
    float: right;
    padding: 7px;
    margin-top: 5px;
    height: fit-content;
    width: 73%;
    margin-right:5px ;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 0.25mm;
    border-color: rgb(171, 199, 199);
    transition: transform 500ms;
    padding-right:3% ;
  }
  #tab_content_info_item_nam:hover{
    transform: scale(1.015);
    background-color: rgb(249, 255, 255);
  }

  #tab_content_info_item_val:hover{
    transform: scale(1.015);
    background-color: rgb(249, 255, 255);
  }
  
  #leader_card{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(171, 199, 199) 1px;
    float: left;
    margin: 1%;
    width: 30%;
    left:5%;  
    font-family: 'IranSans';
  }
  #place_image{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
  }
   #slides{
     position: relative;
     top:100px;
   }
  .custom-tag{
    margin-top:2%;
    width: 80%;
    left: 10%;
    height: 60vh;
    box-shadow: 2px 2px 15px 1px #000000;
  }
  
  #nav_item_history{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(171, 199, 199) 1px;
    width: 97%;
    position: relative;
    left:2% ;
  }
  
  #sort_button{
    float: right;
    color:  black;
    border: 0px;
    margin-top:10px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    width: fit-content;
    background-color: rgba(210, 105, 30, 0);
    border-left:1px solid rgb(209, 209, 209) ;
  }
  
  #sort_label{
    margin-top: 10px;
    float: right;
    margin-left: 20px;
  }
  .searching_option{
    background-color: rgb(228, 228, 228);
  
  }
  #sort_option{
  
    float: right;
  }
  
  .searchBar_searchPlace{
    float: right;
    width: 30%;
  }
    
  #sorting_option{
    width: 70%;
    float: left;
  }
  
  .search_button{
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
    height:30px;
    float: left;
    margin-top:5px;
    max-width: 120px;
  }
  .search_input{
    border-radius: 5%;
    width:65%;
    float: left;
    height:30px;
    margin-top:5px ;
  }
  
  #searchBar_searchPlace{
    float: right;
    width: 80%;
  }

  .travelogueForm{
    background:url(/travelogueForm_back.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height:1500px;
}
  
  #travellouge_content{
    float: right;
    width:70%;
    margin-right: 2%;
    padding:5px;
    padding-right: 5px;
  
  }
  
  #travellouge_content_title{
    margin-right: 5px;
    float: right;
  }
  
  #travellouge_content_title_text{
    color: gray;
    float: right;
  }
  
  #travellouge_content_text{
    clear: both;
    margin-right: 5px;
    font-size: 16px;
  }
  
  #travellouge_images_div{
    float: right;
    width:28%;
    padding: 3px;
  
  }
  
  #travellouge_image{
    display:inline-block;
    clear: both;
    width:98%;
    height: 28vh;
    margin-bottom: 10px;
  }
  #travelloufe_card{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 150px;
    margin-bottom:20px ;
    margin-top:10px ;
    border: 1px rgb(185, 185, 185) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #travelloufe_card_img_div{
    display: inline-block; 
    width: 35%;
    margin-left: 1%;
  
  }
  #travelloufe_card_img{
    display: inline-block; 
    width: 100%;
    margin-left: 1%;
    height:100%;
  
  }
  #travelloufe_card_div{
    display: inline-block; 
    width: 94%;
    padding: 10px;
  }
  
  #travelloufe_card_button{
    float: left;
    box-shadow: 0 4px 8px 0 rgba(185, 185, 185, 0.808), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(243, 243, 243);
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(223, 55, 55);  
  }
  
  #travelloufe_card_writer{
    clear: both;
    font-size: 11px;
    color: gray;
  }
  
  #travelloufe_card_p{
    max-width: 80%;
    float: right;
  }

  
  .selectButton{
    background-color: rgb(86, 86, 206);
    color: white;
  }
  .navbar{
    padding-bottom:0px;
    padding-left:10px;
    background-color: #535353;
    color: white;
  }
  .navbarbutton{
    background-color: rgb(56, 110, 161);
    
  }
  .navlink{
    margin-right:10px;
    margin-bottom:0px;
    color: antiquewhite;
  
  }
   .navlink:hover{
    margin-bottom:-4px;
    color: antiquewhite;
    border: white;
    border-width: 3px;
    border-style: solid;
    border-left:none;
    border-right:none;
    border-top:none;
  }
  
  #navbrand{
    color: rgb(2, 41, 31);
    font-family: 'IranSans';
    font-size: 30px;
    width:5px;
    height:5px;
  }
  .header_home_img{
    position:relative;
    bottom:25px;
    left:10px;
    width:35px;
    height:30px;
    filter:brightness(95%);
}
  #homepic{
    opacity: 1;
    height: 80vh;
    margin-bottom: 3px;
    width: 100%;
    object-fit: cover;
    clear: both;
    -webkit-filter:brightness(85%);
   }

   .homepic_div{
     position:relative;
     width:70%;
     bottom: 50vh;
     left:15%;
     right:15%;
     text-align:center;
  }

  .homepic_div_text{
    color:white;
    text-shadow: 1px 1px 8px #000000;
    font-style:italic;
    font-size:40px;
}

   .searchbar{
     width: 100%;
     height: 100%;
   }
   
   #header{
    font-family:'IranSans';
     height: 55px;
     margin-bottom: 1px;
     font-size:15px;
   }

   .actions{
     width:70%;
     position:relative;
     bottom:130px;
     left:15%;
     border-radius:0%;
     height:min-content;
}

   .action_card{
     float:left;
     width:22.5%;
     height:fit-content;
     margin-left:2%;
     height:200px;
     border-radius:0%;
}
.action_card_backimg{
  width:100%;
  height:100%;
  opacity:0.8;
  filter: brightness(50%);
  z-index:0;
}
.action_card_logo{
  overflow:hidden;
  z-index:2;
  position:relative;
  width:40%;
  height:auto;
  right:30%;
  bottom:170px;
}
.action_card_title{
  color:white;
  filter:brightness(120%);
  overflow:hidden;
  z-index:2;
  position:relative;
  padding-right:5px;
  text-align:center;
  bottom:160px;
  font-style:italic;
  font-size:20px;
  transition: transform 1s;
}

.action_card_title:hover{
  transform:scale(1.05);
}

#placeForm{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border:solid 2px rgb(224, 224, 224);
  position: relative;
    text-align: right;
    clear: both;
    top: 50px;
    width: 50%;
    right: 20%;
    font-family:'IranSans';

}

#placeform_submit{
  font-family:'IranSans';
  position: relative;
    width: 30%;
    bottom: 50px;
    margin-top: 10%;
    right: 3%;
    background-color: rgb(192, 238, 238);
    border-color:rgb(180, 221, 221);
    color: black;
}

#place_input{
  font-family:'IranSans';
    position: relative;
    width: 100%;
  text-align: right;
  height: 40px;
  padding-top:10px ;
  padding-right: 15px;
}

.place_input{
  font-family:'IranSans';
  text-align: right;
    position: relative;
    width: 80%;
    left: 10%;
}

#place_label{
  font-family:'IranSans';
  text-align: right;
    font-size: 18px ;
    padding-top: 6%;
}

.searchBar{
    border-radius: 1px;
    position:relative;
    width: 50%;
    min-width:350px;
    left:25%;
    top: 15px;
    height: 43px;
    font-size:16px;
    border-width: 2px;
    border-color: rgb(192, 191, 191);
    z-index:0;
    background-color:white;
}
.searchItem{
    text-align:right;
    position: relative;
    width: 90%;
    top: 6%;
    height: 70%;
    float: left;
    padding-left:10px;
    margin-right:5px;
    margin-left:0px;
    margin-top:2px;
    border: none;
}

#imgSearchBar{
    position: relative;
    top: 5%;
    z-index:2;
    left:1%;
    float: left;
    width: 8%;
    height: 70%;
}


.actions_text{
  clear:both;
  width:100%;
  opacity:1;
  text-align:center;
  margin:0px;
  font-size:26px;
  margin-bottom:20px;
}

.offeredPlace{
  clear:both;
  position:relative;
  bottom:70px;
  width:70%;
  left:15%;

}

.card{
  
    float: left;
    width: 31.1%;
    height: 240px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 1%;
    font-family:'IranSans';
    box-shadow: -0px 1px 20px rgba(130, 130, 130, 0.35);
    border-radius:0px;
    transition:transform 2s;
}

.place_card_img{
    width: 100%;
    height:200px;
    margin: 0px;
    padding: 0px;
}

.card:hover{
   transform:scale(1.1);
}

.place_card_title{
    width:100%;
    text-align:center;
    padding: 10px;
    padding-bottom: 0px;
    font-family:'IranSans';
}
.place_card_disc{
    padding-right: 5px;
    text-align: right;
    font-family:'IranSans';
}
#login_signup{
background:url(/auth_back.jpg) no-repeat fixed;
background-size: 100% 100%;
height:1200px;
}

#login_signupForm{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border:solid 2px rgb(224, 224, 224);
    font-family:'IranSans';

}

#Form{
  background-color: rgba(254, 254, 254, 0.51);
  box-shadow: -0px 1px 20px rgba(127, 127, 127, 0.65);
  position: relative;
  text-align: right;
  clear: both;
  top: 50px;
  min-width:400px;
  width: 36%;
  height: max-content;
  padding:3%;
  left: 32%;
  margin-bottom:40px;
}

#form_submit{
  position: relative;
  width: 30%;
  margin-top: 10%;
  right: 3%;
  background-color: rgb(192, 238, 238);
  border-color:rgb(180, 221, 221);
  color: black;
}
#tab_content_info{
    float: right;
    border-radius: 15%;
    width: 97%;
    
  }

body{

    background-color: rgb(255, 255, 255);
    text-align: right;
    font-size: 14px;
    font-family:'IranSans';
    min-height:100%;
  }
footer{
  height: 10%;
  background-color: white;
}
  #auth_tab_content{
    clear: both;
    margin-right: 3%;
  }
.form_input{
  text-align: right;
  height: 45px;
  border-radius:5px;
  padding-top:10px ;
  padding-bottom:10px;
  padding-right: 15px;
  padding-left:15px;
  background-color:#f8f9fa;
}
.form_title{
  text-align:center;
  font-size:26px;
}

#form_label{
  font-size: 20px ;
  padding-top: 6%;
}

.switch{
  position: relative;
  right: 90%;
}

.invalid{
  border-color:red;
  border-width:10x;
  box-shadow: -0px 1px 20px rgba(160, 0, 0, 0.65);
}

.text_area_form{
  text-align: right;
  padding-top:10px ;
  padding-right: 15px;
  width: 100%;
  height: 150px;
}

.file_input_form{
  padding-top:10px;
  padding-bottom:10px;
  background-color:#f8f9fa;
}
  .leaderForm{
    background:url(/leaderForm_back.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height:1000px;
}

  .addplaceforleaderForm{
    background:url(/addplaceforleaderForm_back.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height:900px;
}

.placeForm{
  background:url(/newplace_back.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height:1700px;
}

#tab_content_item_nam{
  clear: both;
  float: right;
  padding: 7px;
  padding-right: 10px;
  margin-top: 5px;
  height: 40px;
  width: 16%;
  border-radius: 5px;
  border: solid 0.25mm;
  border-color: rgb(171, 199, 199);
  transition: transform 500ms;
  margin-right: 10px;
}
#tab_content_item_val{
  float: right;
  padding: 7px;
  margin-top: 5px;
  height: fit-content;
  width: 73%;
  margin-right:5px ;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 0.25mm;
  border-color: rgb(171, 199, 199);
  transition: transform 500ms;
  padding-right:3% ;
}
#items{
    position: relative;
    left: 20%;
    width: 60%;
    margin-top: 4px;
}

#h1{
    width: 100%;
    text-align: center;
}

#profileImage{
    position: relative;
    right: 37%;
    margin: 13px;
    width: 300px;
    max-width: 26%;
    max-height: 300px;
    border-radius: 100%;
    border: solid gray 1px;
}

#profilePage{
    padding: 10px;
    width: 90%;
    background:solid whitesmoke;
    height: 100vh;
}
.profile_places{
  width:60%;
  position: relative;
  left:20%;
}

.profile_travelogue{
  padding-top:80px;
  width:60%;
  position:relative;
  left:20%;
  clear:both;
}


.rate_leader{
  padding-top:80px;
  width:60%;
  position:relative;
  left:20%;
  clear:both;
  margin-bottom: 40px;
}
.rate_leader_title{
  float: right;
  font-size: 20px;
}

.rate_leader_stars{
  margin-right: 20px;
  float: right;
}

.rate_leader_button{
    margin-right: 15px;
}