.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  margin-top: 5px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.selectButton{
  background-color: rgb(86, 86, 206);
  color: white;
}
.loginSignupButton{
  background-color: green;
  color: white;
  
}
#bg{
  margin-top: 5PX;
}
.cardsub{
  margin-bottom: 5px;
}
