.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  margin-top: 5px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
  background-color: rgb(86, 86, 206);
  color: white;
}
.loginSignupButton{
  background-color: blue;
  margin-right: 10px;
}
.login{
  position: relative;
    width: 30%;
    margin-top: 10%;
    right: 3%;
    background-color: rgb(192, 238, 238);
    border-color:rgb(180, 221, 221);
    color: black;
}