.column {
  float: left;
  width: 33.333333333333333333333333333%;
  margin-top: 1px;
  padding: 0 5px;
}

.row {
  margin: 0 -5px;
  margin-top: 5px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.selectButton{
  background-color: rgb(86, 86, 206);
  color: white;
}
.navbar{
  background-color: rgb(83, 151, 83);
  color: white;
}
.navbarbutton{
  background-color: rgb(56, 161, 121);
  
}
.navlink{
  color: antiquewhite;

}
#navbrand{
  color: black;
  font-family: fantasy;
  font-size: 30px;
}
#homePic{
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
 }