.searchBar{
    border-radius: 15px;
    width: 35%;
    height: 30px;
    border-width: 2px;
    border-color: rgb(192, 191, 191);
}
.searchItem{
    position: relative;
    width: 90%;
    top: 6%;
    height: 70%;
    float: left;
    border: none;
}
#imgSearchBar{
    position: relative;
    top: 10%;
    float: left;
    width: 8%;
    height: 70%;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card{
    max-width: 15%;
    min-width: 200px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.place_card_img{
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.place_card_title{
    text-align: right;
    padding: 10px;
    padding-bottom: 0px;
}
.place_card_disc{
    padding-right: 5px;
    text-align: right;
}