.searchBar{
    border-radius: 15px;
    width: 35%;
    height: 30px;
    border-width: 2px;
    border-color: rgb(192, 191, 191);
}
.searchItem{
    position: relative;
    width: 90%;
    top: 6%;
    height: 70%;
    float: left;
    border: none;
}
#imgSearchBar{
    position: relative;
    top: 10%;
    float: left;
    width: 8%;
    height: 70%;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}